{% if page.author and site.data.authors[page.author] %}
  {% assign author = site.data.authors[page.author] %}
{% else %}
  {% assign author = site.author %}
{% endif %}

<div itemscope itemtype="http://schema.org/Person">

  {% if author.avatar %}
    <div class="author__avatar">
    {% if author.avatar contains "://" %}
      <img src="{{ author.avatar }}" alt="{{ author.name }}" itemprop="image" style="width: 100%; max-width: 250px; height: auto;">
    {% else %}
      <img src="{{ author.avatar | absolute_url }}" class="author__avatar" alt="{{ author.name }}" itemprop="image" style="width: 100%; max-width: 250px; height: auto;">
    {% endif %}
    </div>
  {% endif %}

  <div class="author__content">
    <h3 class="author__name" itemprop="name">{{ author.name }}</h3>
    {% if author.bio %}
      <p class="author__bio" itemprop="description">
        {{ author.bio }}
      </p>
    {% endif %}
  </div>

  <div class="author__urls-wrapper">
    <button class="btn btn--inverse">{{ site.data.ui-text[site.locale].follow_label | remove: ":" | default: "Contact" }}</button>
    <ul class="author__urls social-icons">

        {% if author.location %}
        <li itemprop="homeLocation" itemscope itemtype="http://schema.org/Place">
          <span itemprop="name">
            <a href="{{ author.reaching_us }}" itemprop="url" target="_blank" rel="noopener noreferrer">
              <i class="fa fa-fw fa-map-marker" aria-hidden="true"></i> <span itemprop="name">{{ author.location }}</span>
            </a>
          </span>
          <span itemprop="streetAddress">
            {% if author.address %}
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ author.address }}<br>
            {% endif %}
            {% if author.address2 %}
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ author.address2 }}<br>
            {% endif %}
            {% if author.address3 %}
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ author.address3 }}<br>
            {% endif %}
            {% if author.address4 %}
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ author.address4 }}<br>
            {% endif %}
           </span>
        </li>
      {% endif %}

      {% if author.secretary_phone %}
        <li itemprop="telephone">
          <i class="fa fa-fw fa-building" aria-hidden="true"></i> Secretary: <span>{{ author.secretary_phone }}</span>
        </li>
      {% endif %}

      {% if author.phone %}
        <li itemprop="telephone">
          <i class="fa fa-fw fa-user" aria-hidden="true"></i> Office: <span>{{ author.phone }}</span>
        </li>
      {% endif %}

      {% if author.email %}
        <li>
          <a href="mailto:{{ author.email }}">
            <meta itemprop="email" content="{{ author.email }}">
            <i class="fa fa-fw fa-envelope-square" aria-hidden="true"></i> 
            Email: {{ author.email }}
          </a>
        </li>
      {% endif %}

      {% if author.orcid %}
        <li>
          <a href="https://orcid.org/{{ author.orcid }}" itemprop="sameAs" style="display: flex; align-items: center;">
            <img src="/images/orcid.svg" alt="ORCID Icon" style="width: 20px; height: 20px; margin-right: 5px;"> 
            <span style="font-size: inherit;">ORCID: {{ author.orcid }}</span>
          </a>
        </li>
      {% endif %}
      
      {% if author.scopus %}
        <li>
          <a href="https://www.scopus.com/authid/detail.uri?authorId={{ author.scopus }}" itemprop="sameAs">
            <i class="fa fa-fw fa-key" aria-hidden="true"></i> Scopus: {{ author.scopus }}
          </a>
        </li>
      {% endif %}

      {% if author.github %}
        <li>
          <a href="https://github.com/{{ author.github }}" itemprop="sameAs">
            <i class="fa fa-fw fa-github" aria-hidden="true"></i> GitHub: {{ author.github }}
          </a>
        </li>
      {% endif %}

      {% if author.linkedin %}
        <li>
          <a href="https://www.linkedin.com/in/{{ author.linkedin }}" itemprop="sameAs">
            <i class="fa fa-fw fa-linkedin-square" aria-hidden="true"></i> LinkedIn
          </a>
        </li>
      {% endif %}

      {% if author.xing %}
        <li>
          <a href="https://www.xing.com/profile/{{ author.xing }}" itemprop="sameAs">
            <i class="fa fa-fw fa-xing-square" aria-hidden="true"></i> XING
          </a>
        </li>
      {% endif %}

    </ul>
  </div>
</div>
